
.menu-container {
    display: flex;
    min-height: 100px;
    background-color:cornflowerblue;
    justify-content: center;
    align-items: center;
}

.menu-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #e9c46a;
    border-radius: 12px;
}

.active-link {
    background-color: #f4a261;
}

.div-item {
    width: 16px;
}