
.app-body {
    display: flex;
    background-color:fuchsia;
    justify-content: center;
    height: 100vh;
}

.app-container {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: calc(12px + 1vw);
    line-height: 1.5;
}

@media only screen and (min-width: 500px) {
    .app-container {
        width: calc(500px + ((100vw - 500px) / 2));
    }
}

.app-content {
    display: flex;
    flex: 1;
}