
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
/* font-family: 'Merriweather', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    text-decoration: none;
    background-color: #ffffff;
    color: #333333;
}

a {
    text-decoration: none;
}